body {
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 14px;
  background: #5E9DC8;
  color: #DCF0F7;
}

.strong {
  font-weight: bold;
}

.page-header {
  border-bottom: none;
}

.jumbotron {
  color: #0C2C52;
}

.nav-pills > li > a {
  color: #DCF0F7;
}

.nav-pills > li > a:hover {
  color: #0C2C52;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #DCF0F7;
  background-color: #0C2C52;
}

.page-header {
  font-style: italic;
}

.clear {
  clear: both;
}

#nav-title h1 {
  font-size: 30px;
}

#nav-title h1 small {
  color: #5F6B61;
}

#nav-bar {
  margin: 10px;
  float: right;
}

#nav-bar li {
  padding: 20px;
}

#home-content {
  padding-top: 150px;
  text-align: center;
}

#home-content h1 {
  font-weight: bolder;
  font-size: 60px;
}

#home-content h4 {
  font-size: 30px;
}

#about-me-img {
  width: 400px;
  margin: 50px;
  border-radius: 5px;
  float: right;
}
